<canvas class="slices"></canvas>
<div class="clock-text">
  <h1 class="clock-name">Stringer Bell</h1>
  <h2 class="tag-line">A simple time management tool</h2>
  <p class="by">by @cell303</p>
</div>
<div class="panel">
  <img src="/images/panel.png" />
</div>
<div class="numbers">
  <div class="number">1</div>
  <div class="number">2</div>
  <div class="number">3</div>
  <div class="number">4</div>
  <div class="number">5</div>
  <div class="number">6</div>
  <div class="number">7</div>
  <div class="number">8</div>
  <div class="number">9</div>
  <div class="number">10</div>
  <div class="number">11</div>
  <div class="number">12</div>
</div>
<div class="sub-clock"></div>
<div class="hands">
  <div class="hour-hand hand">
    <img src="/images/hourhand.png" />
  </div>
  <div class="minute-hand hand">
    <img src="/images/minutehand.png" />
  </div>
  <div class="second-hand hand">
    <img src="/images/secondhand.png" />
  </div>
</div>
