<h2>Settings</h2>
<form>
    <div class="play-bar" data-role="fieldcontain">
      <button id="prev" type="button" class="btn" title="Prev"><i class="mfg-step_backward"/></button>
      <button id="stop" type="button" class="btn" title="Stop"><i class="mfg-stop"/></button>
      <button id="next" type="button" class="btn" title="Next"><i class="mfg-step_forward"/></button>
    </div>

    <div class="task">
      <label for="slider-0">Work time</label>
      <input type="range" name="slider" id="slider-0" value="<%= workTime %>" min="1" max="50" step="1" data-mini="true" data-highlight="true"/>
      <p class="help-block">How long can you concentrate before you have to take a break?</p>
    </div>

    <div class="task">
      <label for="slider-1">Free time</label>
      <input type="range" name="slider" id="slider-1" value="<%= freeTime %>" min="1" max="10" step="1" data-mini="true" data-highlight="true"/>
      <p class="help-block">How long are your breaks going to be?</p>
    </div>

    <div class="task">
      <label for="flip-a">Sound</label>
      <div class="checkbox">
        <label>
          <input id="flip-a" type="checkbox" checked="<%= sound %>"> Play sound
        </label>
      </div>
      <p class="help-block">If your Browser supports HTML5 audio you can let Stringer Bell play a sound when it's time to take a break</p>
    </div>

    <div class="task">
      <label for="button-0">Notifications</label>
      <button id="button-0" type="button" class="btn">Allow notifications</button>
      <p class="help-block" style="margin-top: 10px">If your Browser supports HTML5 notifications you can allow Stringer Bell to use them by clicking this button</p>
    </div>
  </fieldset>
</form>
